SGT/*.trk filter=lfs diff=lfs merge=lfs -text
SGT/*.tck filter=lfs diff=lfs merge=lfs -text
SGT/*.bundles filter=lfs diff=lfs merge=lfs -text
SGT/*.bundlesdata filter=lfs diff=lfs merge=lfs -text
SGT/*.h5 filter=lfs diff=lfs merge=lfs -text
SGT/*.zip filter=lfs diff=lfs merge=lfs -text
